## Include
include README.md COPYING COPYING.lesser NOTICE requirements.txt
recursive-include compiler *.py *.tl *.tsv *.txt
recursive-include tests *.py

## Exclude
prune vegagram/errors/exceptions
prune vegagram/raw/functions
prune vegagram/raw/types
prune vegagram/raw/base
exclude vegagram/raw/all.py
